{% extends 'head.twig' %}
{% block body %}
    <body>
        <div class="container-fluid pb-4 pt-4 paddding">
            <div class="container paddding">
                <div class="row mx-0">
                    <div class="col-md-8 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                        <div>
                            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Список задач</div>
                            <div class="row pb-4">
                                <div class="col-md-7 input-group"  style="">
                                    <select class="custom-select" style="margin-right: 15px;" id="inputGroupSelect04">
                                        <option value="1">По имени</option>
                                        <option value="2">По email</option>
                                        <option value="3">По статусу</option>
                                    </select>
                                    <select class="custom-select" id="inputGroupSelect04">
                                        <option value="1">По возрастанию</option>
                                        <option value="2">По убыванию</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary apply-sort" style="margin-right: 15px; margin-left: 15px;" type="button">Применить</button>
                                    </div>
                                    <div class="input-group-append clear-sort">
                                        <button class="btn btn-outline-secondary" type="button">Сбросить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="/core/static/images/office.jpg" alt=""></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7 animate-box fadeInUp animated-fast">
                                <a href="single.html" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                                    nostrud quis xercitation ullamco. </a> <a href="single.html" class="fh5co_mini_time py-3"> Thomson Smith -
                                    April 18,2016 </a>
                                <div class="fh5co_consectetur"> Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="/core/static/images/office.jpg" alt=""></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                                    nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                                    April 18,2016 </a>
                                <div class="fh5co_consectetur"> Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore.
                                </div>
                                <ul class="fh5co_gaming_topikk pt-3">
                                    <li> Why 2017 Might Just Be the Worst Year Ever for Gaming</li>
                                    <li> Ghost Racer Wants to Be the Most Ambitious Car Game</li>
                                    <li> New Nintendo Wii Console Goes on Sale in Strategy Reboot</li>
                                    <li> You and Your Kids can Enjoy this News Gaming Console</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img">
                                        <img src="/core/static/images/office.jpg" alt="">
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                                    nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                                    April 18,2016 </a>
                                <div class="fh5co_consectetur"> Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo
                                    consequat.
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="/core/static/images/office.jpg" alt=""></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                                    nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                                    April 18,2016 </a>
                                <div class="fh5co_consectetur"> Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sticky-top" style="margin-top: 10px; height: 15%; padding: 10px;">
                        <button type="button" class="btn btn-danger">Добавить задачу</button>
                        <button type="button" class="btn btn-primary">Войти</button>
                    </div>
                </div>
                <div class="row mx-0 animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">
                    <div class="col-12 text-center pb-4 pt-4">
                        <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        <a href="#" class="btn_pagging">1</a>
                        <a href="#" class="btn_pagging">2</a>
                        <a href="#" class="btn_pagging">3</a>
                        <a href="#" class="btn_pagging">...</a>
                        <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid fh5co_footer_right_reserved">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 spdp_right py-4"></div>
                </div>
            </div>
        </div>


        <script src="/core/static/js/main.js"></script>
    </body>
{% endblock %}